

.domestic-content{
	padding-left: 3%;
	padding-right: 15%;
	padding-bottom: 10%;
	.domestic-head{
		text-align: center;
		margin-bottom: 2%;
		h4{margin-top: 0px;}
	}
	.domestic-slider-div{
		background-color: #181818;
		width: 100%;
		position: relative;
		box-sizing: border-box;
		padding: 5%;
		margin-bottom: 2%;
		.range-points{
			width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    background: #121212;
		    border:5px solid #ffd10a;
		    position: absolute;
		}
	/**{border: 1px solid red;}	*/

		.slidecontainer {
		    width: 100%;
		    .service-option{position: absolute;left: 0px;color: white;bottom: 10%;}
		    ul{padding-left: 0px;list-style-type: none;}
		    ul li{
		    	float: left;
		    	/*width: 22%;*/
		    	text-align: left;
		    	margin-left: 24%;
		    	padding-top: 3%;
		    	color: white;
		    	span{position: absolute;font-size: 12px;width: 200px;top: 70%;}
		    	.service-span{
		    		left: 5%;
		    	}
		    	.address-span{
		    		left: 45%;
		    	}
                .shipment-span{
		    		left: 85%;
		    	}
		    	

              


		    }
		    ul li::before{
		    	content: " ";
		    	width: 25px;
		    	height: 25px;
		    	border-radius: 50%;
		    	background-color: whitesmoke;
		    	border:5px solid grey;
		    	position: absolute;
		    	bottom: 43%;
                z-index: 2;
		    	cursor: pointer;

		    }
		}

		.slider {
		    -webkit-appearance: none;
		    width: 100%;
		    height: 8px;
		    background: #2c2c2c;
		    outline: none;
		    opacity: 1;
		    -webkit-transition: .2s;
		    transition: opacity .2s;
		}

		.slider:hover {
		    opacity: 1;
		}

		.slider::-webkit-slider-thumb {
		    -webkit-appearance: none;
		    appearance: none;
		    width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    background: #121212;
		    border:5px solid #ffd10a;
		    cursor: pointer;
		    position: relative;
		    z-index: 3;
		}

		.slider::-moz-range-thumb {
		    width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    background: #121212;
		    border:5px solid #ffd10a;
		    cursor: pointer;
		}

	}
	.domestic-item-type{

		h3{
			text-align: center;
			font-size: 20px;
		}
		h3:after{
			content: "";
		    display: block;
		    margin-top: 1%;
		    margin-left: 45%;
		    width: 10%;
		    height: 2px;
		    border-bottom: 3px solid #333;
		}
    	.item-type-line{
    		border-top: 3px solid #898989;
    		width: 5%;
    	}
    	.item-type-content{
    		background-color: #ececec;
    		border: 1px solid rgba(0,0,0,0.1);
    		padding: 3%;
    		.important-signifier{color: red;}
    		select{width: 100%;height: 30px;}
    		p{padding-top: 5%;}
    	}
	}

	.domestic-delivery-options{

    	.item-type-line{
    		border-top: 3px solid #898989;
    		width: 5%;
    	}
    	.help-text{
    		position: relative;
    		top: -5px;
    		color: red;
    		font-weight: bold;
    		cursor: pointer;

    	}
    	.help-link{
    		position: relative;
    		left: 80%;
    		i{color: red;font-size: 18px;}
    	}

    	.item-type-content{
    		background-color: #ececec;
    		border: 1px solid rgba(0,0,0,0.1);
    		padding: 3%;
    		.important-signifier{color: red;}
    		select{width: 100%;height: 30px;}
    		p{padding-top: 5%;}
    		.table-head{
    			background-color: #c3c3c3;
    			width: 100%;
    			padding: 1%;
    			box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    		}
    		.table-content{
    			background-color: white;
    			width: 100%;
    			padding: 3%;
    			box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    			.check-boxes{
    				input[type="radio"]{
    					margin-right: 5%;
    					position: relative;
    					top: 2px;
    				}
    			}
    		}
    		.transport-service-box{
    			margin-top: 5%;
    			select{width: 50%;}
    		}
    	}
	}

	.button-row{
		margin-top: 5%;
		.domestic-btn{
			padding: 2% 20% 2% 20%;
			border:none;
			outline: none;
		}
		.cancel-button{
			background-color: #181818;
			color: #ffd10a;
		}
		.next-button{
			background-color: #ffd10a;
			color: #181818;
		}
		.left-col{
			text-align: right;
		}
		.right-col{
   			text-align: left;
		}
	}
}

.pickup-delivery{
	padding-bottom: 0px;
}