.sub-head{
	h3{
			text-align: center;
			font-size: 20px;
			margin-bottom: 5%;
		}
		h3:after{
			content: "";
		    display: block;
		    margin-top: 1%;
		    margin-left: 45%;
		    width: 10%;
		    height: 2px;
		    border-bottom: 3px solid #898989;
		}
}

.shedule-contents{
	padding: 3%;
	background-color: #ececec;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 2%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	span{color: red;}
	.green-text{color: green;font-weight: bold;}
	input{
       width: 100%;border: 1px solid rgba(0,0,0,0.1);
       height: 35px;
       padding-left: 3%;
	}
	select{
		width: 100%;border: 1px solid rgba(0,0,0,0.1);
		height: 35px;
	}
	textarea{
		width: 100%;border: 1px solid rgba(0,0,0,0.1);height: 70px;
	}
	.red-msg{
		float: right;
		padding-right: 2%;
	}
	input[type="date"], input[type="time"] {
		height: auto;
		padding-top: 3%;
		padding-bottom: 3%;
	}

}

.notification-box{
	padding: 3%;
	background-color: #ececec;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 2%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	.row{
		margin-top: 2%;
		input[type="text"]{
		   width: 100%;border: 1px solid rgba(0,0,0,0.1);
	       height: 35px;
	       padding-left: 3%;
		}
		input[type="checkbox"]{
			position: relative;
			top: 2px;
			margin-right: 2%;
		}
	}
	.red-msg, .red-arrow{color: red;}
	.red-arrow{position: relative;top: 6px;}
	.red-msg i {
		position: relative;top: 4px;
		margin-left: 2%;
		font-size: 20px;
	}
	.input-box{
		padding: 0px;
	}
}

.instruction-box{
	padding: 3%;
	background-color: #ececec;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 2%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	input[type="checkbox"]{
			position: relative;
			top: 2px;
			margin-right: 2%;
		}
		input[type="textarea"]{
			position: relative;
			top: 2px;
			margin: 2%;
			width: 90%;
			height: 100px;
			padding-left: 3%;
			border: 1px solid rgba(0,0,0,0.1);
		}
}