
.profile-head-row{
	padding-left: 3%;
}

.profile-row1{
	padding: 3%;
	padding-bottom: 6%;
	box-shadow: 2px 4px 20px rgba(0,0,0,0.1);
	min-height: 300px;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
		border:5px solid lightgrey;
	}
	button{
		margin: 8%;
		border: none;
		background-color: whitesmoke;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.1);
		color: grey;
		padding: 2% 5% 2% 5%;
	}
	i{
		position: relative;
		top: 15px;
		margin-right: 3%;
	}
	h4{line-height: 30px;}
}
