@import 'home';
@import 'topNav';
@import 'domestic';
@import 'address-details';
@import 'shipment-details';
@import 'pickup-delivery';
@import 'confirm-shipment';
@import 'profile';
@import 'receipts';



html{
	height: 100%;
}
a{
	text-decoration: none;
}