<div class="side-nav" id="side-nav">
    <a href="index.html">
        <div class="logo-div">
            <img src="assets/img/logos.png" />
        </div>
    </a>

     <div class="nav-element">
        <i class="material-icons">
            home
        </i>
        <a href="index.html">DASHBOARD</a>
    </div> 

    <div class="nav-element  active">
        <i class="material-icons">
            description
        </i>
        <a href="booking.html">CREATE BOOKING</a>
    </div> 
    <div class="nav-element">
        <i class="material-icons">
            account_box
        </i>
        <a>ADDRESS BOOK</a>
    </div>

    <div class="nav-element">
        <i class="material-icons">
            settings
        </i>
        <a>SETTINGS</a>
    </div>

    <hr class="nav-seperator"> 

    <div class="nav-element">
        <i class="material-icons">
            help
        </i>
        <a>HELP</a>
    </div> 

    <div class="nav-element">
        <i class="material-icons">
            headset_mic
        </i>
        <a>SUPPORT</a>
    </div>

</div>