<div class="domestic-slider-div">
    <div class="slidecontainer">
        <input type="range" min="0" max="2" value="0" class="slider" id="myRange">
        <ul>
            <li style="margin-left: 0px;"><span class="service-span">SERVICE OPTIONS</span></li>
            <li style="margin-left: 48.4%;"><span class="address-span">ADDRESS DETAILS</span></li>
            <li style="margin-left: 96.7%;"><span class="shipment-span">SHIPMENT DETAILS</span></li>
        </ul>
    </div>
</div>