<div class="top-nav" id="top-nav">
    <i class="material-icons hamburger-menu" id="burger-menu">menu</i>
    <h4 class="page-title">Employee Profile</h4>
    <h4 class="welcome-message"><span class="welcome-text">Welcome </span><span><b>Don John!</b></span></h4>
    <div class="notification-div"></div>
    <div class="logout-div"></div>
</div>
<div class="sub-nav" id="sub-nav">
    <span class="navigation-helper">Home</span>
    <span class="navigation-helper-arrow"><i class="material-icons">keyboard_arrow_right</i></span>
    <span class="navigation-helper">Dashboard</span>
    <span class="current-time">11:36 AM</span>
    <span class="current-date">TODAY, 15 March 2018,</span>
</div>