.confirm-shipment-box {
  margin-top: 2%;
  margin-left: 0.1%;
  margin-right: 0.1%; }
  .confirm-shipment-box .grey-box {
    padding: 3%;
    min-height: 250px;
    background-color: #ececec;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-right: 5%; }
  .confirm-shipment-box .red-msg {
    color: red;
    float: right;
    position: absolute;
    top: 8px;
    right: 5%; }
  .confirm-shipment-box .help-link {
    float: right;
    position: relative;
    left: -5%;
    color: red; }
    .confirm-shipment-box .help-link i {
      position: relative;
      top: 5px; }
  .confirm-shipment-box input[type="select"] {
    width: 100%; }

.payment-box .help-link {
  float: right;
  position: relative;
  left: -5%;
  color: red; }
  .payment-box .help-link i {
    position: relative;
    top: 5px; }
.payment-box select {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%; }

.policy-box {
  padding: 3% 3% 3% 1.6%;
  padding-bottom: 0%; }
  .policy-box input {
    margin-right: 1%;
    position: relative;
    top: 2px; }
  .policy-box a {
    color: red;
    text-decoration: underline;
    margin-left: 1%; }
  .policy-box i {
    position: relative;
    top: 5px; }

/*# sourceMappingURL=confirm-shipment.css.map */
