.domestic-content {
  padding-left: 3%;
  padding-right: 15%;
  padding-bottom: 10%; }
  .domestic-content .domestic-head {
    text-align: center;
    margin-bottom: 2%; }
    .domestic-content .domestic-head h4 {
      margin-top: 0px; }
  .domestic-content .domestic-slider-div {
    background-color: #181818;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 2%;
    /**{border: 1px solid red;}	*/ }
    .domestic-content .domestic-slider-div .range-points {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #121212;
      border: 5px solid #ffd10a;
      position: absolute; }
    .domestic-content .domestic-slider-div .slidecontainer {
      width: 100%; }
      .domestic-content .domestic-slider-div .slidecontainer .service-option {
        position: absolute;
        left: 0px;
        color: white;
        bottom: 10%; }
      .domestic-content .domestic-slider-div .slidecontainer ul {
        padding-left: 0px;
        list-style-type: none; }
      .domestic-content .domestic-slider-div .slidecontainer ul li {
        float: left;
        /*width: 22%;*/
        text-align: left;
        margin-left: 24%;
        padding-top: 3%;
        color: white; }
        .domestic-content .domestic-slider-div .slidecontainer ul li span {
          position: absolute;
          font-size: 12px;
          width: 200px;
          top: 70%; }
        .domestic-content .domestic-slider-div .slidecontainer ul li .service-span {
          left: 5%; }
        .domestic-content .domestic-slider-div .slidecontainer ul li .address-span {
          left: 45%; }
        .domestic-content .domestic-slider-div .slidecontainer ul li .shipment-span {
          left: 85%; }
      .domestic-content .domestic-slider-div .slidecontainer ul li::before {
        content: " ";
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: whitesmoke;
        border: 5px solid grey;
        position: absolute;
        bottom: 43%;
        z-index: 2;
        cursor: pointer; }
    .domestic-content .domestic-slider-div .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 8px;
      background: #2c2c2c;
      outline: none;
      opacity: 1;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    .domestic-content .domestic-slider-div .slider:hover {
      opacity: 1; }
    .domestic-content .domestic-slider-div .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #121212;
      border: 5px solid #ffd10a;
      cursor: pointer;
      position: relative;
      z-index: 3; }
    .domestic-content .domestic-slider-div .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #121212;
      border: 5px solid #ffd10a;
      cursor: pointer; }
  .domestic-content .domestic-item-type h3 {
    text-align: center;
    font-size: 20px; }
  .domestic-content .domestic-item-type h3:after {
    content: "";
    display: block;
    margin-top: 1%;
    margin-left: 45%;
    width: 10%;
    height: 2px;
    border-bottom: 3px solid #333; }
  .domestic-content .domestic-item-type .item-type-line {
    border-top: 3px solid #898989;
    width: 5%; }
  .domestic-content .domestic-item-type .item-type-content {
    background-color: #ececec;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3%; }
    .domestic-content .domestic-item-type .item-type-content .important-signifier {
      color: red; }
    .domestic-content .domestic-item-type .item-type-content select {
      width: 100%;
      height: 30px; }
    .domestic-content .domestic-item-type .item-type-content p {
      padding-top: 5%; }
  .domestic-content .domestic-delivery-options .item-type-line {
    border-top: 3px solid #898989;
    width: 5%; }
  .domestic-content .domestic-delivery-options .help-text {
    position: relative;
    top: -5px;
    color: red;
    font-weight: bold;
    cursor: pointer; }
  .domestic-content .domestic-delivery-options .help-link {
    position: relative;
    left: 80%; }
    .domestic-content .domestic-delivery-options .help-link i {
      color: red;
      font-size: 18px; }
  .domestic-content .domestic-delivery-options .item-type-content {
    background-color: #ececec;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3%; }
    .domestic-content .domestic-delivery-options .item-type-content .important-signifier {
      color: red; }
    .domestic-content .domestic-delivery-options .item-type-content select {
      width: 100%;
      height: 30px; }
    .domestic-content .domestic-delivery-options .item-type-content p {
      padding-top: 5%; }
    .domestic-content .domestic-delivery-options .item-type-content .table-head {
      background-color: #c3c3c3;
      width: 100%;
      padding: 1%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); }
    .domestic-content .domestic-delivery-options .item-type-content .table-content {
      background-color: white;
      width: 100%;
      padding: 3%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); }
      .domestic-content .domestic-delivery-options .item-type-content .table-content .check-boxes input[type="radio"] {
        margin-right: 5%;
        position: relative;
        top: 2px; }
    .domestic-content .domestic-delivery-options .item-type-content .transport-service-box {
      margin-top: 5%; }
      .domestic-content .domestic-delivery-options .item-type-content .transport-service-box select {
        width: 50%; }
  .domestic-content .button-row {
    margin-top: 5%; }
    .domestic-content .button-row .domestic-btn {
      padding: 2% 20% 2% 20%;
      border: none;
      outline: none; }
    .domestic-content .button-row .cancel-button {
      background-color: #181818;
      color: #ffd10a; }
    .domestic-content .button-row .next-button {
      background-color: #ffd10a;
      color: #181818; }
    .domestic-content .button-row .left-col {
      text-align: right; }
    .domestic-content .button-row .right-col {
      text-align: left; }

.pickup-delivery {
  padding-bottom: 0px; }

/*# sourceMappingURL=domestic.css.map */
