.sub-head h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5%; }
.sub-head h3:after {
  content: "";
  display: block;
  margin-top: 1%;
  margin-left: 45%;
  width: 10%;
  height: 2px;
  border-bottom: 3px solid #898989; }

.shedule-contents {
  padding: 3%;
  background-color: #ececec;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  margin-left: 0.1%;
  margin-right: 0.1%; }
  .shedule-contents span {
    color: red; }
  .shedule-contents .green-text {
    color: green;
    font-weight: bold; }
  .shedule-contents input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 35px;
    padding-left: 3%; }
  .shedule-contents select {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 35px; }
  .shedule-contents textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px; }
  .shedule-contents .red-msg {
    float: right;
    padding-right: 2%; }
  .shedule-contents input[type="date"], .shedule-contents input[type="time"] {
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%; }

.notification-box {
  padding: 3%;
  background-color: #ececec;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  margin-left: 0.1%;
  margin-right: 0.1%; }
  .notification-box .row {
    margin-top: 2%; }
    .notification-box .row input[type="text"] {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      height: 35px;
      padding-left: 3%; }
    .notification-box .row input[type="checkbox"] {
      position: relative;
      top: 2px;
      margin-right: 2%; }
  .notification-box .red-msg, .notification-box .red-arrow {
    color: red; }
  .notification-box .red-arrow {
    position: relative;
    top: 6px; }
  .notification-box .red-msg i {
    position: relative;
    top: 4px;
    margin-left: 2%;
    font-size: 20px; }
  .notification-box .input-box {
    padding: 0px; }

.instruction-box {
  padding: 3%;
  background-color: #ececec;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  margin-left: 0.1%;
  margin-right: 0.1%; }
  .instruction-box input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 2%; }
  .instruction-box input[type="textarea"] {
    position: relative;
    top: 2px;
    margin: 2%;
    width: 90%;
    height: 100px;
    padding-left: 3%;
    border: 1px solid rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=pickup-delivery.css.map */
